<!DOCTYPE html>
html 
  head 

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0") 

    title Flexbox 切版任務

    link(rel="stylesheet", href="style.css")


  body   

  header
    img.logo(src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/13f2e6e6b718b6abafb62ce7a672d42fc39eaeae/student-week1/logo-all-dark.svg", alt="LOGO")
    nav
      li 
        a.hmoe_page(href="#") 首頁
      li 
        a.sweet(href="#") 甜點
      li 
        a.login(href="#") 登入
      li
        a(href="#") 
          img.cart(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/shopping_cart.png?raw=true", alt="")
  .banner
    img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/banner.png?raw=true", alt="banner")
  .contents
    .main
      .category
        li.title 甜點類別
        li 
          a.selectable(href="#") 所有甜點（48） 
        li 
          a.selectable(href="#") 本日精選（10）
        li 
          a.selectable(href="#") 人氣推薦（26）
        li 
          a.selectable(href="#") 新品上市（12）
      .items
        .item
          img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-1.png?raw=true", alt="")
          .info
            .name 焦糖馬卡龍
            .price NT$ 450
          a.add(href="#") 加入購物車  
        .item
          img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-2.png?raw=true", alt="")
          .info
            .name 焦糖馬卡龍
            .price NT$ 450
          a.add(href="#") 加入購物車  
        .item
          img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-3.png?raw=true", alt="")
          .info
            .name 焦糖馬卡龍
            .price NT$ 450
          a.add(href="#") 加入購物車  
        .item
          img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-4.png?raw=true", alt="")
          .info
            .name 焦糖馬卡龍
            .price NT$ 450
          a.add(href="#") 加入購物車  
        .item
          img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-5.png?raw=true", alt="")
          .info
            .name 焦糖馬卡龍
            .price NT$ 450
          a.add(href="#") 加入購物車  
        .item
          img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-6.png?raw=true", alt="")
          .info
            .name 焦糖馬卡龍
            .price NT$ 450
          a.add(href="#") 加入購物車  
    .pages
      ul
        li
          a(href="#")
            img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_left.png?raw=true", alt="last page")
        li
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#")
            img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_right.png?raw=true", alt="next page")
  .mail
    .subscribe
      .sweet_mail
        img.mark(src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/13f2e6e6b718b6abafb62ce7a672d42fc39eaeae/student-week1/logo-light.svg", alt="logo")
        h2 訂閱你我的甜蜜郵件
      .submission
        .mailpic
          img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/mail-24px.png?raw=true", alt="mail icon")
        input(type="email")
        a(href="#")
          img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_forward-24px.png?raw=true", alt="submit")
  footer
    .infomations
      .left_info
        .logo_word
          img(src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/13f2e6e6b718b6abafb62ce7a672d42fc39eaeae/student-week1/logotype-lg-dark.svg", alt="logo")
        ul.contact_info
          li.tele 07-1234-5678   
          li.email sweetaste@email.com
          li.addr 800 高雄市新興區幸福路 520 號
      .right_info
        .slogan
          h2 今天是個——
            br 
            pre 吃甜點的好日子。
    .bottom_bar
      .sns
        img(src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/13f2e6e6b718b6abafb62ce7a672d42fc39eaeae/student-week1/ic-line%40.svg", alt="Line icon")
        img(src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/13f2e6e6b718b6abafb62ce7a672d42fc39eaeae/student-week1/ic-facebook.svg", alt="Facebook icon")
      .copyright
        p © 2018 Sweetaste* All Rights Reserved